/* custom less file */
@import "bootstrap.less";

img.sblogo {
	margin: 0 15px 5px 0;
}

.locators { float:left;  line-height:1em; font-family: @sansFontFamily;}
.locators div { display:block; float:left; background:#ccc;  height:70px;  margin-bottom:1.5em; padding:0px; float:left; }
.locators div a { border-width:0px; color:#333; display:block; padding:10px; height:50px;}
.locators div a:hover { background-color:maroon; color:#eee; }
.locators div a img { float:left; margin-right:10px; }
.ui-corner-all { -moz-border-radius: 4px/*{cornerRadius}*/; -webkit-border-radius: 4px/*{cornerRadius}*/; border-radius: 4px/*{cornerRadius}*/; }


@media(min-width:980px){
	.locators {
		font-size: @fontSizeSmall;
	}
}

@media(max-width:980px){
	.masthead .nameandlogo h1 {
		font-size: 30px;
	}

	.masthead .stinger p {
		font-size: 16px;
	}
}

@media(min-width:768px){
	.locators {
		font-size: @fontSizeMini;
	}

}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  margin: (@baseLineHeight / 2) 0;
  font-family: @headingsFontFamily;
  font-weight: @headingsFontWeight;
  line-height: @baseLineHeight;
  color: @headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    line-height: 1;
    color: @grayLight;
  }
}

h1,
h2,
h3 { line-height: @baseLineHeight * 2; }

h1 { font-size: @baseFontSize * @h1Size; } // ~38px
h2 { font-size: @baseFontSize * @h2Size; } // ~32px
h3 { font-size: @baseFontSize * @h3Size; } // ~24px
h4 { font-size: @baseFontSize * @h4Size; } // ~18px
h5 { font-size: @baseFontSize * @h5Size; }
h6 { font-size: @baseFontSize * @h6Size; } // ~12px

h1 small { font-size: @baseFontSize * @h3Size; } // ~24px
h2 small { font-size: @baseFontSize * @h4Size; } // ~18px
h3 small { font-size: @baseFontSize; }
h4 small { font-size: @baseFontSize; }

article article h1 { font-size: @baseFontSize * @h2Size; } // ~38px
article article h2 { font-size: @baseFontSize * @h3Size; } // ~32px
article article h3 { font-size: @baseFontSize * @h4Size; } // ~24px
article article h4 { font-size: @baseFontSize * @h5Size; } // ~18px
article article h5 { font-size: @baseFontSize * @h6Size; }
article article h6 { font-size: @baseFontSize * @h6Size; } // ~12px

article article h1 small { font-size: @baseFontSize * @h4Size; } // ~24px
article article h2 small { font-size: @baseFontSize * @h5Size; } // ~18px
article article h3 small { font-size: @baseFontSize; }
article article h4 small { font-size: @baseFontSize; }

