<rewriteMaps>
	<rewriteMap name="OldPages">
		<add key="/SBCPublications.html" value="/articles" />
		<add key="/SBCPublicDomain.html" value="/downloads" />
		<add key="/intlmain.html" value="/intl" />
		<add key="/intlhowto.html" value="/intldocs" />
		<add key="/intlhowtopurchase.html" value="/intlpurchase" />
		<add key="/The Hooks and Anchors Design Pattern" />
		<add key="/vfp-intl.html" value="/intl-vfp" />
		<add key="/intlishasslefree.html" value="/intl/#hasslefree" />
		<add key="/consulting.html" value="/" />
		<add key="/mentoring.html" value="/" />
		<add key="/sbcPublicDomain.html" value="/downloads" />
	</rewriteMap>
</rewriteMaps>