<!-- Footer
================================================== -->
<hr>

<footer id="footer">
	<p>Have Questions? <strong>Just call: (+1) 613-542-3293</strong></p>
	<div class="row">
		<div class="vcard" id="hcard-Steven-Black">
			<div class="span6">
				<small>
				<div class="org">
					<a class="url fn" href="http://stevenblack.com/">Steven Black Consulting</a>
				</div>

				<div class="adr">
					<span class="street-address">57 Kenwoods Circle</span><br>
					<span class="locality">Kingston</span>, <span class="region">ON</span><br>
					<span class="postal-code">K7K 6Y1</span> <span class="country-name">Canada</span>
				</div>
				</small>
			</div>
			<div class="span6">
				<small>
				<div>
					Email: <a class="email" href="mailto:steveb@stevenblack.com">steveb@stevenblack.com</a><br>
					Phone: <span class="tel"><span class="type">Office</span> (<span class="type">pref</span>erred): <span class="value">(+1) 613-542-3293</span></span><br>
					<span class="tel"><span class="type">Skype</span>: <code><span class="value">steven-black</span></code></span><br>
				</div>
				</small>
			</div>
		</div>
		</small>
	</div>
</footer>