<header id="overview">
	<div class="row masthead hidden-sm hidden-xs">
		<div class="col-md-12 lead">
			<div class="col-md-5 nameandlogo">
				<h1><img class="sblogo" src="/foxpaw.png" alt="" />Steven Black</h1>
			</div>
			<div class="col-md-5 stinger">
				<p class="lead muted"><em>Software systems conceived,<br>developed and carried forward.</em></p>
			</div>
			<div class="col-md-2 croquis">
				<img src="/images/StevenBlack.jpg" alt=""  width="100%" />
			</div>
			<hr />
		</div>
	</div>
	<div class="row masthead hidden-lg hidden-md">
		<div class="col-md-12 lead">
			<div class="col-md-12 nameandlogo">
				<h1><img class="sblogo" src="/foxpaw.png" alt=""/>Steven Black</h1>
			</div>
			<hr />
		</div>
	</div>
</header>