<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% if page.metadescription %}{{ page.metadescription }}{% else %}{{ site.metadescription }}{% endif %}">
	<meta name="keywords" content="{% if page.metakeywords %}{{ page.metakeywords }}{% else %}{{ site.metakeywords }}{% endif %}">
	<meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
	
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="/css/sbc.min.css?{{ site.time | date_to_xmlschema }}" />
	{% if page.pygments %}
		<link rel="stylesheet" href="/css/pygments.css" />
	{% endif %}

	{% if page.style %}
	 <style type="text/css">
	     {{ page.style }}
	 </style>
	{% endif %}
</head>