<script src="/js/jquery.sbc.js" type="text/javascript"></script>
<script src="/js/jquery.tmpl.min.js" type="text/javascript"></script>
<script src="/js/underscore-min.js" type="text/javascript"></script>
<script id="tmplShowItem" type="text/html">
	<div class="ui-corner-all locator span2" title="${type}">
			<a href="${url}">
				<img src="${imgSrc}" alt="${type}">
				<strong>${type}</strong><br />
				{{html text}}
			</a>
		</div>
</script><script id="tmplCust" type="text/html">
	<div class="ui-corner-all locator span2" title="${type}">
			<a href="${url}">
				<img src="${imgSrc}" alt="${text}">
				<strong>{{html text}}</strong>
			</a>
		</div>
</script>
<script type="text/javascript">
	$(function(){
			var locators= [
				{ "seq" : 10, "url" : "callto:+16135423293", "imgSrc" : "images/telephone.png", "type" : "Phone", "active" : true, "text" : "(1) 613-542-3293" },
				{ "seq" : 20, "url" : "skype:steven-black?call", "imgSrc" : "images/skype.png", "type" : "Skype", "active" : true, "text" : "steven-black" },
				{ "seq" : 30, "url" : "mailto:steveb@stevenblack.com", "imgSrc" : "images/email.png", "type" : "Email", "active" : true, "text" : "steveb@..." },
				{ "seq" : 40, "url" : "http://twitter.com/steveblack", "imgSrc" : "images/twitter.png", "type" : "Twitter", "active" : true, "text" : "steveblack" },
				{ "seq" : 50, "url" : "http://github.com/StevenBlack", "imgSrc" : "images/github.png", "type" : "GitHub", "active" : true, "text" : "StevenBlack" },
				{ "seq" : 60, "url" : "http://www.facebook.com/steven.m.black", "imgSrc" : "images/facebook.png", "type" : "Facebook", "active" : false, "text" : "steven.m.black" },
				{ "seq" : 75, "url" : "http://www.quora.com/Steven-Black-1", "imgSrc" : "images/quora.png", "type" : "Quora", "active" : false, "text" : "Steven-Black-1" },
				{ "seq" : 80, "url" : "http://goo.gl/maps/V6dw", "imgSrc" : "images/globe.png", "type" : "Map", "active" : true, "text" : "Kingston, ON" },
				{ "seq" : 99, "url" : "xmpp:black.steven@gmail.com", "imgSrc" : "images/googletalk.png", "type" : "Google Talk", "active" : false, "text" : "black.steven" },
				{ "seq" : 99, "url" : "http://www.linkedin.com/in/xx", "imgSrc" : "images/linkedin.png", "type" : "linkedIn", "active" : false, "text" : "linkedin.com/in/xx" },
				{ "seq" : 99, "url" : "http://flickr.com/photos/k7waterfront", "imgSrc" : "images/flickr.png", "type" : "Flickr", "active" : false, "text" : "k7waterfront" },
				{ "seq" : 99, "url" : "http://delicious.com/stblack", "imgSrc" : "images/delicious.png", "type" : "Delicious", "active" : false, "text" : "stblack" }
			];

			var customers= [
				{ "seq" : 10, "url" : "http://metalcraftmarine.com", "imgSrc" : "images/metalcraft.png", "text" : "MetalCraft Marine", "active" : true },
				{ "seq" : 10, "url" : "http://net-learning.com", "imgSrc" : "images/netlearning2.png", "text" : "NetLearning", "active" : true },
				{ "seq" : 10, "url" : "http://emedicine.com", "imgSrc" : "images/emedicine.png", "text" : "eMedicine.com", "active" : true },
				{ "seq" : 10, "url" : "http://www.daimler.com/", "imgSrc" : "images/dc.png", "text" : "Daimler Christler", "active" : true },
				{ "seq" : 10, "url" : "http://nokia.com", "imgSrc" : "images/nokia.png", "text" : "Nokia", "active" : true },
				{ "seq" : 10, "url" : "http://www.ifrc.org/", "imgSrc" : "images/ifrc-1.png", "width": 39, "text" : "IFRCRCS", "active" : true },
				{ "seq" : 10, "url" : "http://altria.com", "imgSrc" : "images/pm2.png", "text" : "Philip Morris", "active" : true },
				{ "seq" : 10, "url" : "http://qualcomm.com", "imgSrc" : "images/qualcomm2.png", "text" : "Qualcomm", "active" : true },
				{ "seq" : 10, "url" : "http://3m.com", "imgSrc" : "images/3m2.png", "text" : "3M HIS", "active" : true },
				{ "seq" : 10, "url" : "http://jj.com", "imgSrc" : "images/jj2.png", "text" : "Johnson &amp; Johnson", "active" : true },
				{ "seq" : 10, "url" : "http://unhcr.org", "imgSrc" : "images/unhcr1.png", "text" : "UNHCR", "active" : true },
				{ "seq" : 10, "url" : "http://northsails.com", "imgSrc" : "images/ns2.png", "text" : "North Sails", "active" : true },
				{ "seq" : 10, "url" : "http://gc.ca", "imgSrc" : "images/canada.png", "text" : "Government of Canada", "active" : false },
				{ "seq" : 10, "url" : "http://queensu.ca", "imgSrc" : "images/queens.png", "text" : "Queen's University", "active" : false }
			];
			$( "#tmplShowItem" ).tmpl( _.select( locators, function( itm ){ return itm.active; } ), function( itm ){return itm.seq; } ).appendTo("#locators");
			$( "#tmplCust" ).tmpl( _.select( customers, function( itm ){ return itm.active; } ), function( itm ){return itm.seq; } ).appendTo("#customers");

			locators= undefined;
			customers= undefined;
			$(window).load( function(){
				var pageTracker = _gat._getTracker( 'UA-212713-3' );
				$("#locators").find(".locator").each( function() {
					$(this).click( function(){
						pageTracker._trackEvent( 'Locator', 'Click', this.title );
					});
				});
			});
		});
</script>