<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle btn btn-primary" type="button" style="background-color:#ddd">
				<span style="color:#333">Menu</span>
			</button>
			<a href="/" class="navbar-brand">Home</a>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"  href="/archive/">Articles <b class="caret"></b></a>
					<ul class="dropdown-menu">
						{% for post in site.posts %}
							{% if post.title %}
						<li><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
				<li><a href="/downloads">Downloads</a></li>

				<li class="dropdown">
					<a href="/intl/" class="dropdown-toggle" data-toggle="dropdown">INTL Toolkit <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/intl/">Information</a></li>
					</ul>
				</li>
				<li><a href="/c/">Contact</a></li>
			</ul>
			<!-- <form class="navbar-search pull-right" action="">
				<input type="text" class="search-query col-md-2" placeholder="Search">
			</form> -->
		</div><!-- /.navbar-collapse -->
	</div>
</header><!-- /navbar -->
