---
layout: compress
author: Steven Black
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
	{% include navbar.html %}
	<div class="container">
		{% include header.html %}
		{{ content }}
		{% include footer.html %}
	</div>

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/sbc.min.js"></script>
	{% for i in page.jsinclude %}
	   {% varinclude i %}
	{% endfor %}
	{% include analytics.html %}
</body>
</html>
