<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.metadescription }}">
	<meta name="keywords" content="{{ page.metakeywords }}">

	<meta name="author" content="">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" />

	{% if page.pygments %}
		<link rel="stylesheet" href="/css/pygments.css" />
	{% endif %}

	{% if page.style %}
	 <style type="text/css">
	     {{ page.style }}
	 </style>
	{% endif %}
</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
	{% include navbar.html %}
	<div class="container">
		{% include header.html %}
		{{ content }}
		{% include footer.html %}
	</div>

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
	<script src="/js/bootstrap.min.js"></script>
	{% for i in page.jsinclude %}
	   {% varinclude i %}
	{% endfor %}
	{% include analytics.html %}
</body>
</html>
